	<div id="gtco-features-3">
		<div class="gtco-container">
			<div class="gtco-flex">
				<div class="feature feature-1 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="{{ site.data.icons.header1 }}"></i>
						</span>
						<h3 class="editable">Gratis website</h3>
						<p class="editable">Wij hebben de mooiste en beste gratis templates voor je verzameld om uit te kiezen (open source).</p>
						<p><a href="/products.html" class="btn btn-white btn-outline editable">Bekijk ons aanbod</a></p>
					</div>
				</div>
				<div class="feature feature-2 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="{{ site.data.icons.header2 }}"></i>
						</span>
						<h3 class="editable">Focus op conversie</h3>
						<p class="editable">Alle templates zijn gebouwd met een focus op conversie. Wanneer je voor ons kiest hoef je dus geen dure SEO-experts in te huren.</p>
						<p><a href="/products.html" class="btn btn-white btn-outline editable">Bekijk ons aanbod</a></p>
					</div>
				</div>
				<div class="feature feature-3 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="{{ site.data.icons.header3 }}"></i>
						</span>
						<h3 class="editable">Heel eenvoudig</h3>
						<p class="editable">Wij hebben alles eenvoudig aanpasbaar gemaakt. Jij kunt binnen no-time aan de slag met je nieuwe website.</p>
						<p><a href="/products.html" class="btn btn-white btn-outline editable">Bekijk ons aanbod</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>