	<div id="gtco-features-3">
		<div class="gtco-container">
			<div class="gtco-flex">
				<div class="feature feature-1 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="{{ site.data.icons.header1 }}"></i>
						</span>
						<h3 class="editable">Hij is voor Gratis</h3>
						<p class="editable">Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. </p>
						<p><a href="#" class="btn btn-white btn-outline editable">Learn More</a></p>
					</div>
				</div>
				<div class="feature feature-2 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="{{ site.data.icons.header2 }}"></i>
						</span>
						<h3 class="editable">AnnounCement</h3>
						<p class="editable">Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. </p>
						<p><a href="#" class="btn btn-white btn-outline editable">Learn More</a></p>
					</div>
				</div>
				<div class="feature feature-3 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="{{ site.data.icons.header3 }}"></i>
						</span>
						<h3 class="editable">Timer</h3>
						<p class="editable">Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. </p>
						<p><a href="#" class="btn btn-white btn-outline editable">Learn More</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>