	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2 class="editable">De ultieme website</h2>
					<p class="editable">Modern, mooi, supersnel en betrouwbaar. Onze websites hebben alles wat je wil en meer.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="{{ site.data.icons.features1 }}"></i>
						</span>
						<h3 class="editable">Pixel Perfect</h3>
						<p class="editable">Onze designs zijn future en retina-ready, dankzij het gebruik van superscherpe vector afbeeldingen.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="{{ site.data.icons.features2 }}"></i>
						</span>
						<h3 class="editable">Volledig Responsive</h3>
						<p class="editable">Dankzij responsive design wordt jouw website perfect weergegeven op ieder denkbaar schermformaat.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="{{ site.data.icons.features3 }}"></i>
						</span>
						<h3 class="editable">Volledig aanpasbaar</h3>
						<p class="editable">Alle content is volledig aanpasbaar in een zeer gebruikersvriendelijke WYSIWYG omgeving.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="{{ site.data.icons.features4 }}"></i>
						</span>
						<h3 class="editable">Verschillende kleuren</h3>
						<p class="editable">Laat je website aansluiten bij je huisstijl en/of logo. Onze templates zijn in verschillende kleurvarianten beschikbaar.</p>
					</div>
				</div>
			</div>
		</div>
	</div>