	<div id="gtco-features-3">
		<div class="gtco-container">
			<div class="gtco-flex">
				<div class="feature feature-1 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="{{ site.data.icons.pricing1 }}"></i>
						</span>
						<h3 class="editable" style="position: relative; bottom: 1.5em;">Free Package</h3>
						<div class="editable">
							<ul>
								<li>Gratis website</li>
								<li>Keuze uit alle templates</li>
								<li>Ontwikkel-URL</li>
								<li>Geen contract</li>
								<li><s>E-mail support</s></li>
								<li><s>Telefonische support</s></li>
								<li><s>Gekoppelde domeinnaam</s></li>
								<li><s>Mail met je domeinnaam</s></li>
							</ul>
						</div>
						<p class="price editable"><strong>&euro;0,-</strong> p/maand</p>
						<p><a href="/order.html" class="btn btn-white btn-outline editable">Learn More</a></p>
					</div>
				</div>
				<div class="feature feature-2 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="{{ site.data.icons.pricing2 }}"></i>
						</span>
						<h3 class="editable" style="position: relative; bottom: 1.5em;">Silver Package</h3>
						<div class="editable">
							<ul>
								<li>Gratis website</li>
								<li>Keuze uit alle templates</li>
								<li>Ontwikkel-URL</li>
								<li>2 jarig contract</li>
								<li>E-mail support</li>
								<li>Telefonische support</li>
								<li>Gekoppelde domeinnaam</li>
								<li><s>Mail met je domeinnaam</s></li>
							</ul>
						</div>
						<p class="price editable"><strong>&euro;10,-</strong> p/maand</p>
						<p><a href="/order.html" class="btn btn-white btn-outline editable">Learn More</a></p>
					</div>
				</div>
				<div class="feature feature-3 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="{{ site.data.icons.pricing3 }}"></i>
						</span>
						<h3 class="editable" style="position: relative; bottom: 1.5em;">Gold Package</h3>
						<div class="editable">
							<ul>
								<li>Gratis website</li>
								<li>Keuze uit alle templates</li>
								<li>Ontwikkel-URL</li>
								<li>1 jarig contract</li>
								<li>E-mail support</li>
								<li>Telefonische support</li>
								<li>Gekoppelde domeinnaam</li>
								<li>Mail met je domeinnaam</li>
							</ul>
						</div>
						<p class="price editable"><strong>&euro;20,-</strong> p/maand</p>
						<p><a href="/order.html" class="btn btn-white btn-outline editable">Learn More</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>