	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row row-p	b-md">

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3 class="editable">Over ons</h3>
						<p class="editable">'Website for free' is een initiatief van Benjamin van Rossum en Joost van der Schee. Beiden ontwikkelen al jaren websites voor grote en kleine merken en bedrijven.</p>
					</div>
				</div>

				<div class="col-md-4 col-md-push-1">
					<div class="gtco-widget">
						<h3 class="editable">Links</h3>
						<ul class="gtco-footer-links">
							<li><a href="#">Knowledge Base</a></li>
							<li><a href="#">Career</a></li>
							<li><a href="#">Press</a></li>
							<li><a href="#">Terms of services</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3>Get In Touch</h3>
						<ul class="gtco-quick-contact">
							<li><a href="tel:{{ site.data.social.phone }}"><i class="icon-phone"></i> {{ site.data.social.phone }}</a></li>
							<li><a href="mailto:{{ site.data.social.email }}"><i class="icon-mail2"></i> {{ site.data.social.email }}</a></li>
							<li><a href="{{ site.data.social.chat }}"><i class="icon-chat"></i> Live Chat</a></li>
						</ul>
					</div>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block editable">© 2016 - Website for free. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://gettemplates.co/" target="_blank">GetTemplates.co</a></small>
					</p>
					<p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							<li><a href="{{ site.data.social.twitter_url }}"><i class="icon-twitter"></i></a></li>
							<li><a href="{{ site.data.social.facebook_url }}"><i class="icon-facebook"></i></a></li>
							<li><a href="{{ site.data.social.linkedin_url }}"><i class="icon-linkedin"></i></a></li>
							<li><a href="{{ site.data.social.dribble_url }}"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>