	<header id="gtco-header" class="gtco-cover gtco-cover-xs" role="banner" style="background-image:url({{ site.data.settings.header_image }});">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box editable" data-animate-effect="fadeInUp">Get In Touch</h1>
							<h2 class="animate-box editable" data-animate-effect="fadeInUp">Free HTML5 Bootstrap Templates Made <em>by</em> <a href="http://gettemplates.co/" target="_blank">GetTemplates.co</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>