	<div id="gtco-history" class="gtco-section border-bottom animate-box">
		<div class="gtco-container">
				
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2 class="editable">Onze achtergrond</h2>
					<div class="editable"><p>Wij maken al jaar en dag maatwerk-websites voor kleine en grote merken. Daarnaast leveren wij nu ook standaard-websites. Uitaard alleen de mooiste designs, tegen de laagst mogelijke prijs.</p></div>
				</div>
			</div>

			<div class="row row-pb-md">
				<div class="col-md-6">
					<div class="editable">
						<p>Standaard-websites zijn websites waarbij een standaard design/ontwerp wordt gekozen. Wij bieden verschillende standaard ontwerpen aan. Binnen deze ontwerpen kunt u zelf tekst en afbeeldingen aanpassen. 
						</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="editable">
						<p>Onze ervaring heeft ons geleerd dat we in veel gevallen de meeste waarde kunnen creeren wanneer we een standaard website leveren. Vandaar deze site.
						</p></div>
				</div>
			</div>

			<!--
			<div class="row">
				<div class="col-md-12">
					<h3>See The Photos</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/img_1.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_2.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_3.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_4.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_5.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_6.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
					</div>
				</div>
			</div>
			-->

			
		</div>
	</div>
