	<div id="gtco-history" class="gtco-section border-bottom animate-box">
		<div class="gtco-container">
				
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2 class="editable">Onze achtergrond</h2>
					<div class="editable"><p>Wij maken al jaar en dag maatwerk-websites voor kleine en grote merken. Via websiteforfree.nl leveren we echter alleen websites met bestaande open-source designs. Wij hebben namelijk gezien dat in veel gevallen dit uitstekend voldoet aan de wensen van de klant.</p></div>
				</div>
			</div>

			<div class="row row-pb-md">
				<div class="col-md-6">
					<div class="editable">
						<p>Uitaard hebben wij alleen de mooiste templates voor jou geselecteerd. Jij krijgt dus gegarandeerd een topontwerp, terwijl wij de prijzen laag houden: een win-win situatie. Wij bieden je de mogelijkheid om binnen deze designs zelf tekst en afbeeldingen aan te passen middels een WYSIWYG editor. Onze selectie bestaat o.a. uit open-source templates van <a href="http://www.styleshout.com">styleshout.com</a> en <a href="http://freehtml5.co">freehtml5.co</a>. Deze designs hebben doorgaans een CC3 licentie, wat zoveel inhoud dat een verwijzing naar de ontwerper/eigenaar noodzakelijk is. De footer van je website zal dus een link naar deze partijen moeten bevatten. Dat valt te overzien toch?
						</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="editable">
						<p>Ben je nieuwsgierig geworden naar hoe dat allemaal in zijn werk gaat? Probeer het dan gewoon uit. Selecteer een van onze prachtige designs en vul het (bestel)formulier in. Wij zetten de website van jouw keuze dan voor je klaar op een ontwikkel-URL. Als je eenmaal tevreden bent met je website kun je bij ons gemakkelijk een domeinnaam koppelen en je site live zetten. Wij helpen je zelfs om je e-mail in te richten als je dat wil.
						</p></div>
				</div>
			</div>

			<!--
			<div class="row">
				<div class="col-md-12">
					<h3>See The Photos</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/img_1.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_2.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_3.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_4.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_5.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_6.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
					</div>
				</div>
			</div>
			-->

			
		</div>
	</div>
