	<div id="gtco-history" class="gtco-section border-bottom animate-box">
		<div class="gtco-container">
				
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2 class="editable">Onze achtergrond</h2>
					<div class="editable"><p>Wij maken al jaar en dag maatwerk-websites voor kleine en grote merken. WEBSITE FOR FREE levert alleen standaard-websites. Wij hebben namelijk gezien dat in veel gevallen dit uitstekend voldoet aan de wensen van de klant. Uitaard hebben wij de mooiste designs voor jou geselecteerd. Dus jij krijgt een top-ontwerp en tegelijkertijd kunnen wij de prijzen laag houden: een win-win situatie.</p></div>
				</div>
			</div>

			<div class="row row-pb-md">
				<div class="col-md-6">
					<div class="editable">
						<p>WEBSITE FOR FREE biedt je de mogelijkheid om binnen deze designtemplates zelf tekst en afbeeldingen aan te passen middels een WYSIWYG editor. Onze selectie bestaat o.a. uit open-source templates van <a href="http://www.styleshout.com">styleshout.com</a> en <a href="http://freehtml5.co">freehtml5.co</a>. Deze templates hebben doorgaans een CC3 licentie, wat zoveel inhoud dat een verwijzing naar de ontwerper/eigenaar noodzakelijk is. De footer van je website zal dus een link naar deze partijen moeten bevatten.
						</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="editable">
						<p>Ben je nieuwsgierig geworden naar hoe dat allemaal in zijn werk gaat? Probeer het dan gewoon uit. Selecteer een van onze prachtige designs en vul het (bestel)formulier in. Wij zetten de website van jouw keuze dan voor je klaar op een tijdelijke ontwikkel-URL.
						</p></div>
				</div>
			</div>

			<!--
			<div class="row">
				<div class="col-md-12">
					<h3>See The Photos</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/img_1.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_2.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_3.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_4.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_5.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_6.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
					</div>
				</div>
			</div>
			-->

			
		</div>
	</div>
