	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 text-right gtco-contact">
					<ul class="">
						<li><a href="tel:{{ site.data.social.phone }}"><i class="ti-mobile"></i> {{ site.data.social.phone }} </a></li>
						<li><a href="{{ site.data.social.twitter_url }}"><i class="ti-twitter-alt"></i> </a></li>
						<li><a href="mailto:{{ site.data.social.email }}"><i class="icon-mail2"></i></a></li>
						<li><a href="{{ site.data.social.facebook_url }}"><i class="ti-facebook"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="/">{% if site.data.settings.logo_image %}<img src="{{ site.data.settings.logo_image }}" style="max-width: 200px; max-height: 60px; vertical-align: top;" />{% else %}{% if site.data.settings.logo_text %}{{ site.data.settings.logo_text }}{% else %}Aesthetic <em>.</em>{% endif %}{% endif %}</a></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<li {% if page.url == '/' %}class="active"{% endif %}><a href="/index.html">Home</a></li>
						<li {% if page.url == '/about' %}class="active"{% endif %}><a href="/about.html">About</a></li>
						<li class="has-dropdown">
							<a href="services.html">Services</a>
							<ul class="dropdown">
								<li><a href="#">Web Design</a></li>
								<li><a href="#">eCommerce</a></li>
								<li><a href="#">Branding</a></li>
								<li><a href="#">API</a></li>
							</ul>
						</li>
						<li {% if page.url == '/templates' %}class="active"{% endif %}><a href="/templates.html">Templates</a></li>
						<li {% if page.url == '/portfolio' %}class="active"{% endif %}><a href="/portfolio.html">Portfolio</a></li>
						<li {% if page.url == '/blog' or page.layout == 'post' %}class="active"{% endif %}><a href="/blog.html">Blog</a></li>
						<li {% if page.url == '/contact' %}class="active"{% endif %}><a href="/contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>