	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row row-pb-md">
				<div class="col-md-6 animate-box">
					<h3 class="editable">Vul dit in...</h3>
					<form method="POST" action="/thankyou.html">

						{% for item in site.data.orderform.form_fields %}
						{% if item.input_type == 'text' %}
						<div class="row form-group">
							<div class="col-md-12">
								<label class="sr-only" for="{{ item.name }}">{{ item.name }}</label>
								<input type="{{ item.input_type }}" id="{{ item.name }}" class="form-control" placeholder="{{ item.placeholder }}{% if item.required %}*{% endif %}" {% if item.required %}required{% endif %}></input>
							</div>
						</div>
						{% endif %}

						{% if item.input_type == 'email' %}
						<div class="row form-group">
							<div class="col-md-12">
								<label class="sr-only" for="{{ item.name }}">{{ item.name }}</label>
								<input type="{{ item.input_type }}" id="{{ item.name }}" class="form-control" placeholder="{{ item.placeholder }}{% if item.required %}*{% endif %}" {% if item.required %}required{% endif %}></input>
							</div>
						</div>
						{% endif %}

						{% if item.input_type == 'textarea' %}
						<div class="row form-group">
							<div class="col-md-12">
								<label class="sr-only" for="{{ item.name }}">{{ item.name }}</label>
								<textarea name="{{ item.name }}" id="{{ item.name }}" cols="30" rows="10" class="form-control" placeholder="{{ item.placeholder }}{% if item.required %}*{% endif %}" {% if item.required %}required{% endif %}></textarea>
							</div>
						</div>
						{% endif %}

						{% if item.input_type == 'submit' %}
						<div class="form-group">
							<input type="{{ item.input_type }}" value="{{ item.placeholder }}" class="btn btn-primary btn-lg" />
						</div>
						{% endif %}
						{% endfor %}

						<input type="hidden" name="_to" value="{{ site.data.subscribeform.subscribe_form_to }}">
  						<input type="text" name="_gotcha" style="display: none;">
					</form>		
				</div>
				<div class="col-md-5 col-md-push-1 animate-box">
					
					<div class="gtco-contact-info">
						<h3 class="editable">Bestelproces</h3>
						<div class="editable"><p>U bestelt hiernaast. Vervolgens...</p></div>
					</div>


				</div>
			</div>
			</div>
			
		</div>
	</div>