	<div id="gtco-features-3">
		<div class="gtco-container">
			<div class="gtco-flex">
				<div class="feature feature-1 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="{{ site.data.icons.pricing1 }}"></i>
						</span>
						<h3 class="editable" style="position: relative; bottom: 1.1em;">Probeer gratis</h3>
						<div class="editable">
							<ul>
								<li>Gratis website</li>
								<li>Ontwikkel-URL</li>
								<li>Volledige CMS toegang</li>
								<li><s>Gekoppelde domeinnaam</s></li>
								<li><s>E-mail support</s></li>
								<li><s>Telefonische support</s></li>
								<li><s>E-mail met je eigen domeinnaam</s></li>
							</ul>
						</div>
						<p class="price editable"><strong>&euro; 0,-</strong> p/m</p>
						<p><a href="/products.html" class="btn btn-white btn-outline editable">Kies een template</a></p>
					</div>
				</div>
				<div class="feature feature-2 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="{{ site.data.icons.pricing2 }}"></i>
						</span>
						<h3 class="editable" style="position: relative; bottom: 1.1em;">Hosted</h3>
						<div class="editable">
							<ul>
								<li>Gratis website</li>
								<li>Ontwikkel-URL</li>
								<li>Volledige CMS toegang</li>
								<li>Gekoppelde domeinnaam</li>
								<li>E-mail support</li>
								<li><s>Telefonische support</s></li>
								<li><s>E-mail met je eigen domeinnaam</s></li>
							</ul>
						</div>
						<p class="price editable"><strong>&euro; 10,-</strong> p/m*</p>
						<p><a href="/products.html" class="btn btn-white btn-outline editable">Kies een template</a></p>
					</div>
				</div>
				<div class="feature feature-3 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="{{ site.data.icons.pricing3 }}"></i>
						</span>
						<h3 class="editable" style="position: relative; bottom: 1.1em;">Hosted + e-mail</h3>
						<div class="editable">
							<ul>
								<li>Gratis website</li>
								<li>Ontwikkel-URL</li>
								<li>Volledige CMS toegang</li>
								<li>Gekoppelde domeinnaam</li>
								<li>E-mail support</li>
								<li>Telefonische support</li>
								<li>E-mail met je eigen domeinnaam</li>
							</ul>
						</div>
						<p class="price editable"><strong>&euro; 20,-</strong> p/m**</p>
						<p><a href="/products.html" class="btn btn-white btn-outline editable">Kies een template</a></p>
					</div>
				</div>
			</div>
			<div class="editable" style="clear: both; padding-top: 50px; font-size: 80%;"><p>* Dit wordt vooruit gefactureerd voor twee jaar.<br />** Dit bedrag wordt vooruit gefactureerd voor een jaar.</p></div>
		</div>
	</div>