	<div id="gtco-products">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>Templates</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>

			<!--
			<div class="row animate-box">
				<div class="owl-carousel owl-carousel-carousel">
					{% assign sorted = site.products | sort:"order_num" %}
					{% for item in sorted %}
					{% if item.active == true %}
					<div class="item">
						<a href="{{ item.url }}"><img src="{{ item.image }}" alt="{{ item.title }}" /></a>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			-->

			<div class="row animate-box">
				<div class="">
					{% assign sorted = site.products | sort:"order_num" %}
					{% for item in sorted %}
					{% if item.active == true %}
					<div class="col-md-6 text-center animate-box" style="padding: 30px 60px;">
						<a href="{{ item.url }}">
						<img src="{{ item.image }}" alt="{{ item.title }}" style="width: 100%;" />
						<h3>{{ item.title }}</h3>
						</a>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>


		</div>
	</div>