	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2 class="editable">Overige diensten</h2>
					<p class="editable">Naast onze gratis websites bieden we ook maatwerk aan. Hieronder staat een lijst van dingen die we voor je kunnen betekenen.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="ti-settings"></i>
						</span>
						<div class="feature-copy">
							<h3 class="editable">Configuratie</h3>
							<p class="editable">Lukt het je niet om je domeinnaam of e-mail juist in te stellen? Wij helpen je graag.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="ti-ruler-pencil"></i>
						</span>
						<div class="feature-copy">
							<h3 class="editable">Maatwerk aanpassingen</h3>
							<p class="editable">Wil je iets bijzonders? Geen probleem: wij doen ook maatwerk aanpassingen.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="ti-face-smile"></i>
						</span>
						<div class="feature-copy">
							<h3 class="editable">Training</h3>
							<p class="editable">Wil je ondersteuning bij het aanpassen van je website? Wij geven ook training.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="ti-cup"></i>
						</span>
						<div class="feature-copy">
							<h3 class="editable">Consultancy</h3>
							<p class="editable">Heb je advies nodig, bijvoorbeeld voor SEO? Ook dat kunnen wij verzorgen.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="ti-ruler-alt-2"></i>
						</span>
						<div class="feature-copy">
							<h3 class="editable">Maatwerk templates</h3>
							<p class="editable">Heb je een eigen ontwerp? Wij ontwikkelen ook maatwerk templates.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="ti-desktop"></i>
						</span>
						<div class="feature-copy">
							<h3 class="editable">Business applicaties</h3>
							<p class="editable">Wil je een webapplicatie laten ontwikkelen? Neem dan contact met ons op.</p>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
