	<div class="gtco-section" id="gtco-products">
		<div class="gtco-container">

			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Kwaliteits&shy;garantie</h2>
					<p>Onze websites zijn van de hoogste kwaliteit. Hieronder een overzicht van de meest belangrijke eigenschappen.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Retina Ready</h3>
							<p>Alle afbeeldingen en iconen in onze websites zijn haarscherp en geschikt voor retina schermen.</p>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Volledig responsive</h3>
							<p>Onze websites passen zich naadloos aan aan het formaat van uw scherm.</p>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Vrijwel alles aanpasbaar</h3>
							<p>Vrijwel alles in uw website is aanpasbaar. Teksten, afbeeldingen, kleuren, logo's, iconen, etc.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Moderne vormgeving</h3>
							<p>Wij bieden alleen de nieuwste en modernste templates en ontwerpen/designs aan.</p>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Focus op conversie</h3>
							<p>Onze websites zijn zo ingericht dat ze maximaal/optimaal converteren.</p>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Klaar voor gebruik</h3>
							<p>Al onze websites zijn klaar voor gebruik. Bestel en begin direct!</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row"></div>
		</div>
	</div>
