	<div id="gtco-subscribe">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2 class="editable">Mis niets</h2>
					<p class="editable">Blijf op de hoogte van nieuwe templates en aanbiedingen.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-12">
					<form class="form-inline" method="POST" action="/thankyou.html">

  						<input type="hidden" name="_to" value="{{ site.data.subscribeform.subscribe_form_to }}">
  						<input type="text" name="_gotcha" style="display: none;">

						{% for item in site.data.subscribeform.form_fields %}
						{% if item.required %}{% assign requiredstar = '*' %}{% else %}{% assign requiredstar = '' %}{% endif %}
						{% if item.required %}{% assign requiredtext = 'required' %}{% else %}{% assign requiredtext = '' %}{% endif %}

						{% if item.input_type == 'email' %}
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="{{ item.name }}" class="sr-only">{{ item.name }}</label>
								{% if requiredtext == 'required' %}<input type="{{ item.input_type }}" name="{{ item.name }}" class="form-control" id="{{ item.name }}" placeholder="{{ item.placeholder }}" required>{% else %}<input type="{{ item.input_type }}" name="{{ item.name }}" class="form-control" id="{{ item.name }}" placeholder="{{ item.placeholder }}" >{% endif %}
							</div>
						</div>
						{% endif %}
						{% if item.input_type == 'text' %}
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="{{ item.name }}" class="sr-only">{{ item.name }}</label>
								{% if requiredtext == 'required' %}<input type="{{ item.input_type }}" name="{{ item.name }}" class="form-control" id="{{ item.name }}" placeholder="{{ item.placeholder }}" required>{% else %}<input type="{{ item.input_type }}" name="{{ item.name }}" class="form-control" id="{{ item.name }}" placeholder="{{ item.placeholder }}" >{% endif %}
							</div>
						</div>
						{% endif %}
						{% if item.input_type == 'number' %}
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="{{ item.name }}" class="sr-only">{{ item.name }}</label>
								{% if requiredtext == 'required' %}<input type="{{ item.input_type }}" name="{{ item.name }}" class="form-control" id="{{ item.name }}" placeholder="{{ item.placeholder }}" required>{% else %}<input type="{{ item.input_type }}" name="{{ item.name }}" class="form-control" id="{{ item.name }}" placeholder="{{ item.placeholder }}" >{% endif %}
							</div>
						</div>
						{% endif %}
						{% if item.input_type == 'submit' %}
						<div class="col-md-4 col-sm-4">
							<input type="{{ item.input_type }}" class="btn btn-default btn-block" value="{{ item.placeholder }}" />
						</div>
						{% endif %}
						{% endfor %}
					</form>
				</div>
			</div>
		</div>
	</div>