	{% include head.html %}

	<div id="page">
	{% include navigation.html %}
	
	{% include headerhome.html %}

	{% include features3.html %}

	{% include features.html %}

	{% if site.data.settings.has_portfolio %}{% include portfolio.html %}{% endif %}

	{% if site.data.settings.has_products %}{% include products.html %}{% endif %}

	{% include counter.html %}

	{% if site.data.settings.has_blog %}{% include blog.html %}{% endif %}

	{% include subscribe.html %}

	{% include footer.html %}
	</div>
	
	{% include foot.html %}