	{% include head.html %}

	<div id="page">
	{% include navigation.html %}
	
	{% include header.html %}

	<div class="gtco-section">
		<div class="gtco-container">

			<div class="row animate-box fadeInUp animated-fast">
				<div class="col-md-6 article">
					<img src="{{ page.image }}" style="max-width: 100%; margin-bottom: 15px;" />
				</div>
				<div class="col-md-5 col-md-offset-1" style="margin-bottom: 4em;">

				<div class="gtco-heading product" style="margin-bottom: 1.4em;">
					<h1 style="margin-bottom: 2px; margin-top: 10px;">{{ page.title }}</h1>
					<p>{{ page.price }}</p>
				</div>
				


				<p><a class="btn btn-primary" href="/order#{{ page.url }}">Start direct</a></p>


				{{ content }}

					

				</div>

			</div>
		</div>
	</div>

	{% include services2.html %}

	{% include subscribe.html %}

	{% include footer.html %}
	</div>
	
	{% include foot.html %}